@import "reset";
@import "typo";
@import "btn-input";

/* Mobile */

body {
  background-color: #046582;
}

/* h1 'tip calculator' */
.calc-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  h1 {
    color: white;
    height: auto;
    padding: 5px 0;
    font-size: 2.8rem;
    letter-spacing: 10px;
    text-align: center;
    margin: 1rem;
  }
}

/* contenedor calculadora */
.calc-container {
  /* Titulo 'bill' + input para cargar la cuenta */
  .calc-bill {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 500;
    font-size: 1.6rem;
    justify-content: center;
    padding: 1rem;
    label {
      padding: 0.3rem 0;
    }
  }

  /* Título 'number of people' + input para cant. personas */
  .calc-people {
    padding: 1rem;
  }

  /* Título 'Select tip' + botones */
  .calc-tip {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding: 0 1rem;

    .grid-1 {
      margin-bottom: 0px;
      grid-area: 1 / 1 / 2 / 3;
    }
    .perc5 {
      grid-area: 2 / 1 / 3 / 3;
    }
    .perc10 {
      grid-area: 2 / 3 / 3 / 5;
    }
    .perc15 {
      grid-area: 3 / 1 / 4 / 3;
    }
    .perc25 {
      grid-area: 3 / 3 / 4 / 5;
    }
    .perc50 {
      grid-area: 4 / 1 / 5 / 3;
    }
    .percCustom {
      grid-area: 4 / 3 / 5 / 5;
      text-align: center;
    }
    input:hover {
      transform: translate(-0.05em, -0.05em);
      box-shadow: 0.15em 0.15em;
    }
    input:active {
      transform: translate(0.05em, 0.05em);
      box-shadow: 0.05em 0.05em;
    }
    ::placeholder {
      color: black;
    }
  }

  /* Mensaje de error */
  .calc-error {
    text-align: center;
    p {
      margin: 2rem 0.2rem;
    }
  }

  /* Cuanto hay que pagar */
  .calc-total {
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    .calc-amount,
    .total-amount {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .price {
        font-size: 1.8rem;
      }
      .calc-amount__text,
      .total-amount__text {
        display: flex;
        width: 60%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;

        p {
          margin: 0;
        }
      }
    }
  }
  .reset-container {
    /* Botón RESET */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .calc-title {
    h1 {
      margin-top: 5rem;
      font-size: 3.5rem;
    }
  }
  .calc-container {
    .calc-bill {
      padding: 0 6rem;
    }
    .calc-people {
      padding: 0 6rem;
    }
    .calc-tip {
      padding: 0 6rem;
      margin-top: 1rem;
    }
  }
}

/* Laptop */
@media only screen and (min-width: 992px) and (max-width: 1400px) {
  .calc-title {
    h1 {
      font-size: 4rem;
    }
  }
  .calc-container {
    .calc-bill {
      padding: 0 8rem;
    }
    .calc-people {
      padding: 0 8rem;
    }
    .calc-tip {
      padding: 0 8rem;
      margin-top: 1rem;
      grid-column-gap: 5rem;
      grid-row-gap: 2rem;
    }
  }
} ;
